{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "globals": {
    "NODE_ENV": true,
    "alert": true,
    "Blob": true
  },
  "rules": {
    "camelcase": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "react/no-unescaped-entities": 0,
    "handle-callback-err": 0,
    "eol-last": 2
  }
}
